
body {
    background-image: url(assets/animals.jpg);
}

h3 {
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-size: 2.5rem;
    color: aliceblue;
}

.key {
    float: left;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(54,69,79,.2);
    transition: all .2s;
    color: aliceblue;
}

.playing {
    transform: scale(1.1);
    border-color: orange;
    box-shadow: 0 0 15px orange;
}

.sound {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: aliceblue;
}